{% extends 'base.html' %}

{% block  content %}
{% for item in items %}
<div class="item">
<ul>
    <li>{{item.name}} / {{item.price}} / {{item.quantity}}

    {% if item.bought %}
    <span>☑️</span>
    {% endif %}
</li>
</ul>
</div>
    
{% endfor %}
    
<form class="form_add_item" action="/items" method="post">
    <label for="name">Item:</label>
    <input type="text" name="name" id="name">
    <label for="price">Price:</label>
    <input type="text" name="price" id="price">
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity">
    <label for="bought">Bought?</label>
    <input type="checkbox" name="bought" id="bought" value="False">
    <input type="submit" value="Add item">
</form>

<form class="filter_through" action="/items/bought_items">
    <select name="filter" id="item_select">
        <option value="">--Filter--</option>
        <option value="bought">Bought</option>
        <option value="not_bought">Not bought yet</option>
    </select>
    <input type="submit" value="Select" id="">
</form>

{% endblock  %}